Flask==1.0.2
Jinja2==2.10
oyaml==0.7
requests==2.21.0
redis==3.0.1
Flask-Redis==0.3.0
PyMySQL==0.9.3
mysqlclient==1.4.6
shortuuid==0.5.0
influxdb==5.2.3
markdown==3.1.1
pycryptodome==3.9.7
elasticsearch>=7.0.0,<8.0.0