{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <h2 class="page-heading">{{ title }}</h2>

  {% for ups in pageData %}
  <div class="high-block">
    <h5>项目：{{ ups.project }}（命名空间：{{ ups.namespace }}）</h5>
    <div class="upgrade-sql-list" data-project="{{ ups.project }}">
        {% if ups.sqls | length == 0 %}
        <div class="high-block-sm">
          <h5># 无数据库更新</h5>
        </div>
        {% endif %}

        {% for item in ups.sqls %}
        <div class="db-update-item">
          <h5></h5>
          <pre>-- 版本：{{ item.seq }}<br />{{ item.content }}</pre>
        </div>
        {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="row form-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">&nbsp;</label>
      <div class="col-sm-10">
        <button id="btnDatabaseUpdate"  class="btn btn-primary" onclick="setup.database_update()">
            确认升级
          </button>
          <!-- <a id="btnNext" class="btn btn-default" disabled="disabled" href="/up/configmap">
            下一步
          </a> -->
      </div>
    </div>

  </div>
</div>


{% endblock %}


