{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <h2 class="page-heading">{{ title }}</h2>

  {% for project, val in pageData.items() %}
  <div class="high-block">
    <h5>项目：{{ project }}（命名空间：{{ val.namespace }}）</h5>
    <div class="upgrade-sql-list" data-project="{{ project }}">
        {% if val.sqls | length == 0 %}
        <div class="high-block-sm">
          <h5>-- 无数据库更新</h5>
        </div>
        {% endif %}

        {% for item in val.sqls %}
        <div class="db-update-item">
          <h5>序列：{{ item.seq }}</h5>
          <pre>{{ item.content }}</pre>
        </div>
        {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="row form-body">
    <div class="pull-right">
        {% if not noUpdate %}
        <button id="btnDatabaseUpdate" class="btn btn-primary" onclick="setup.database_update()">
          确认升级，请勿重复点击
        </button>
        {% endif %}

        {% if noUpdate %}
          <a id="btnNext" class="btn btn-primary" href="/up/service">
            无数据库升级，下一步
          </a>
        {% endif %}
    </div>

  </div>
</div>


{% endblock %}


