{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <div class="form-horizontal">
      <h2 class="page-heading">
        <span class="pull-right">
          <span id="successTotal" class="text-success"></span><span id="statusTotal"></span>
        </span>
        {{ title }}
        <span id="spanStatusInfo" class="text-success" style="display: none; font-size: 16px;">写入版本信息成功！</span>
      </h2>

      {% for ns in pageData %}  
      <div class="high-block">
        <h5>命名空间：{{ ns.namespace }}</h5>
        {% for item in ns.services %}  
        <div class="form-group app-image" id="img_{{ item.key }}">
          <label class="col-sm-2 control-label">{{ item.name }}:</label>
          <div class="col-sm-10 text-right service-status">
            <p class="form-control-static">
              <span id="img_path_{{ item.key }}">
                {{ item.fullImagePath }}
              </span>
              {% if item.replicas == 0 or item.replicas > item.availableReplicas %}
              <i class="service-pendding"></i>
              {% elif item.replicas > 0 or item.replicas == item.availableReplicas %}
              <i class="icon-success"></i>
              {% endif %}
            </p>
          </div>
        </div>
        {%endfor%}

      </div>
      {%endfor%}

    </div>
</div>

<script type="text/javascript">

$().ready(function(){
  setup.refresh_service_status();
});

</script>

{% endblock %}

