{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <h2 class="page-heading">{{ title }}</h2>

  {% if pageData | length == 0 %}
  <div class="high-block">
    <h4>无升级前的准备工作，直接进入下一步！</h4>
  </div>
  {% endif %}

  {% for conf in pageData %}
  <div class="high-block">
    <div class="high-block-sm">
      <h5>序列号：{{ conf.seq }}</h5>
      <div>{{ conf.config | safe }}</div>
    </div>
  </div>
  {% endfor %}

  </div>

</div>

<div class="row form-body">
    <div class="pull-left">
      <a class="btn btn-success" href="/up/newconfigmap">
        下一步
      </a>
    </div>
</div>

{% endblock %}

