{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <h2 class="page-heading">{{ title }}</h2>

  {% if pageData | length == 0 %}
  <div class="high-block">
    <h4>无升级前的准备工作，直接进入下一步！</h4>
  </div>

  {% else %}
  
  <div class="text-success">注：如果有升级完成后需要手工执行的步骤，建议保留此页面，复制一个 Tab 页面，再继续下一步。</div>

  {% for conf in pageData %}
  <div class="high-block">
    <div class="high-block-sm">
      <h5>序列号：{{ conf.seq }}</h5>
      <div>{{ conf.config | safe }}</div>
    </div>
  </div>
  {% endfor %}

  {% endif %}
</div>

<div class="row form-body">
    <div class="pull-left">
      <a class="btn btn-success" href="/up/newconfigmap">
        下一步
      </a>
    </div>
</div>

{% endblock %}

