{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <div class="col-12">
    <div class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>

      {% for ns in pageData.deployStatus %}

      {% if ns.updateCount > 0 or ns.newPvcs | length > 0 or ns.newCount > 0 %}
        <h4>
          命名空间：{{ ns.namespace }}
          {% if ns.isNew %}
          <span class="text-danger">新</span>
          {% endif %}
        </h4>

        {% if ns.updateCount > 0 %}
        <div class="high-block">
          <h5> 更新的应用：</h5>
          {% for item in ns.services %}
            {% if item.isUpdate %}
            <div class="form-group app-image" id="img_{{ item.key }}">
              <label class="col-sm-2 control-label">{{ item.name }}:</label>
              <div class="col-sm-10 text-right service-status">
                <p class="form-control-static old">
                  <span id="old_img_path_{{ item.key }}">
                    {{ item.fullImagePath }}
                  </span>
                  {% if item.newImagePath != item.fullImagePath %}
                    {% if item.replicas == 0 or item.replicas > item.availableReplicas %}
                      <i class="service-pendding"></i>
                    {% elif item.replicas > 0 or item.replicas == item.availableReplicas %}
                      <i class="icon-success"></i>
                    {% endif %}
                  {% else %}
                    <i class="glyphicon glyphicon-ban-circle"></i>
                  {% endif %}
                </p>
                <p class="form-control-static">
                  <i class="text-warning glyphicon glyphicon-arrow-down"></i>
                </p>
                <p class="form-control-static new">
                  <span class="text-warning" id="new_img_path_{{ item.key }}">
                    {{ item.newImagePath }}
                  </span>
                  {% if item.newImagePath == item.fullImagePath %}
                    {% if item.replicas == 0 or item.replicas > item.availableReplicas %}
                      <i class="service-pendding"></i>
                    {% elif item.replicas > 0 or item.replicas == item.availableReplicas %}
                      <i class="icon-success"></i>
                    {% endif %}
                  {% else %}
                    <i class="text-warning glyphicon glyphicon-ban-circle"></i>
                  {% endif %}
                </p>
              </div>
            </div>
            {%endif%}
          {%endfor%}
        </div>
        {% endif %}

        {% if ns.newCount > 0%}
        <div class="high-block">
          <h5> 新的应用：</h5>
          {% for item in ns.services %}
            {% if item.isNew %}
            <div class="form-group app-image" id="img_{{ item.key }}">
              <label class="col-sm-2 control-label">{{ item.name }}:</label>
              <div class="col-sm-10 text-right service-status">
                <p class="form-control-static new">
                  <span class="text-warning" id="new_img_path_{{ item.key }}">
                    {{ item.newImagePath }}
                  </span>
                  {% if item.newImagePath == item.fullImagePath %}
                    {% if item.replicas == 0 or item.replicas > item.availableReplicas %}
                      <i class="service-pendding"></i>
                    {% elif item.replicas > 0 or item.replicas == item.availableReplicas %}
                      <i class="icon-success"></i>
                    {% endif %}
                  {% else %}
                    <i class="text-warning glyphicon glyphicon-ban-circle"></i>
                  {% endif %}
                </p>
              </div>
            </div>
            {%endif%}
          {%endfor%}
        </div>
        {% endif %}

        {% if ns.newPvcs | length > 0 %}
        <div class="high-block">
          <h5> 更新的 PVC：{% if ns.newPvcs | length == 0 %}无{% endif %} </h5>
          {% if ns.newPvcs | length > 0 %}
          <div class="form-group app-image">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
              <p class="form-control-static">
                {% for item in ns.newPvcs %}
                  <span>{{ item.name }}（容量：{{ item.storage }}）</span>&nbsp;&nbsp;
                {% endfor %}
              </p>
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}

      {% endif %}
      
      {%endfor%}

    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <button id="btnDoUpdate" {{ 'disabled' if pageData.allUpdated }} class="btn btn-primary" onclick="setup.up_service_update()">
          确认升级应用
        </button>
        <!-- <a id="btnNext" class="btn btn-default" disabled="disabled" href="/up/configmap">
          下一步
        </a> -->
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

$().ready(function(){
  setup.up_service_status();
});

</script>


{% endblock %}

