body{
    padding-bottom: 70px;
}

.clear:after {
  content: "";
  clear: left;
  display: block;
}

header{
    height: 50px;
    line-height: 50px;

    margin-bottom: 70px;

    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);

    font-size: 18px;
    color: #333;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px 0;

    background: #DEE0E5;
    color: #222;
    font-size: 14px;
}

.monospaced{
  font-family: Courier New;
}

.CodeMirror{
  height: 100% !important;
}

.form-body{
    /* padding: 20px 0; */
}

.page-nav{
  width: 270px;

  border-right: 1px #eee solid;
}

.page-main{
  position: absolute;
  left: 300px;
  right: 0;

  padding: 0 40px;
  padding-bottom: 80px;
}

.page-main .page-heading{
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-main .high-block{
  margin: 20px 0;
  padding: 20px 40px;

  background-color: #f7f7fc;
  border: 1px solid #f7f7fc;
}

.page-main .high-block-sm{
  margin: 10px;
  padding: 10px;

  background-color: #f7f7fc;
  border: 1px solid #f7f7fc;
}

.page-main .high-block-sm pre{
  background-color: #fff;
}

.page-main .db-update-item{
  margin: 10px;
  padding: 10px;

  background-color: #fff;
}

.page-main .db-update-item.update-error pre{
  border-color: #f00;
}

.page-main .app-image:hover{
  background-color: #fff;
}

.page-main .control-label{
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.page-main .certificate-text textarea{
  width: 100%;
  height: 300px;

  resize: none;
}

.service-status i{
  font-size: 16px;
}

.service-status .icon-success{
  color: #4ABD59;
}

.service-status .service-pendding {
  display: inline-block;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  border-top: 2px solid #fff;
  border-left: 2px solid #2F61CC;
  border-right: 2px solid #2F61CC;
  border-bottom: 2px solid #2F61CC;

  animation:r0 1.5s linear infinite;
}

.step-list{
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  color: #888;
}

.step-list li{
  line-height: 50px;
  padding-left: 90px;

  font-size: 14px;
}

.step-list li i.step-idx{
  display: inline-block;

  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #888;

  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-align: center;
}

.step-list li.step-prev i.step-idx{
  color: #f60;
  border: 1px solid #f60;
}

.step-list li.step-current {
  color: #f60;
}

.step-list li.step-current i.step-idx{
  color: #fff;
  border: 1px solid #f60;
  background-color: #f60;
}

.high-block.error{
    border-color: #f60;
}

.high-block.success{
    border-color: green;
}

.setup-info .form-group{
    margin-bottom: 0
}

.config-review textarea{
    width: 100%;
    height: 600px;

    padding: 15px;
    border: none;

    background-color: #f7f7fc;
    resize: none;
    
    white-space:nowrap;
}

.config-review .panel-heading{
  padding-bottom: 0;
  margin-bottom: 1px;

  background: none;
}

.config-review .panel-heading label{
  line-height: 40px;
  margin-bottom: 0;
}

.config-review .panel-heading h4{
  border-bottom: solid 1px #eee;

  line-height: 40px;
}

.config-review .panel-body{
  padding: 0;
  margin-top: -1px;

  border-top: none !important;
}


.config-review .config-update-left,
.config-review .config-update-right{
  overflow: auto;  
  height: 600px;

  border-right: 1px solid #eee;
}

.config-review .config-update-left{
  float: left;

  width: 40%;
}

.config-review .config-update-right{
  position: relative;
  margin-left: 40%;

  width: 60%;
}

.config-review .config-update-right .disable-layer{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 600px;

  background-color: rgba(255, 255, 255, 0);
}

.config-review .checked-edit .config-update-right .disable-layer{
  display: none;
}

.config-review .checked-edit textarea{
  background-color: #fff;
}

@keyframes r0 {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

/*vlidation start*/
input.error,
textarea.error { 
  border: 1px dotted red; 
}

label.error {
  /*background:url("./demo/images/unchecked.gif") no-repeat 0px 0px;*/

  /*padding-left: 16px;*/
  padding-bottom: 2px;

  font-weight: bold;
  color: #EA5200;
}
label.checked {
  /*background:url("./demo/images/checked.gif") no-repeat 0px 0px;*/
}
/*vlidation start*/
