{% extends "base.html" %}

{% block content %}
<div class="row form-body">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default config-review">
      {% for conf in data %}
      <div class="panel-heading" role="tab">
        <label class="pull-right" onclick="setup.config_item_checked_all()">
          <input type="checkbox" />
          已检查
        </label>
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ conf.key }}" aria-expanded="true" aria-controls="collapse{{ conf.key }}">
            {{conf.name}}
          </a>
        </h4>
      </div>
      {% if loop.index == 1 %}
      <div id="collapse{{ conf.key }}" class="panel-collapse collapse in" role="tabpanel">
      {% else %}
      <div id="collapse{{ conf.key }}" class="panel-collapse collapse" role="tabpanel">
      {% endif %}
        <div class="panel-body">
          <textarea id="txt{{ conf.key }}" data-key="{{ conf.key }}" class="text-left">{{ conf.content }}</textarea>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row form-body">
  <div class="text-right">
    {% if dubug %}
    <button id="btnConfigmapCreate" class="btn btn-danger" onclick="setup.configmap_create()">检查完毕，生成配置！</button>
    {% else %}
    <button id="btnConfigmapCreate" class="btn btn-danger" disabled="disabled" onclick="setup.configmap_create()">检查完毕，生成配置！</button>
    {% endif %}
  </div>
</div>
{% endblock %}
