{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <div class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">其他配置</div>
        <div class="panel-body">
          <h4>系统主域名：</h4>
          <div class="well">
            <div class="form-group">
              <label for="iptDomain" class="col-sm-2 control-label">域名:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="iptDomain" name="host" value="{{ pageData.domain }}" placeholder="系统主域名，如：dataflux.cn">
              </div>
            </div>
          </div>

          <h4>后台管理员：</h4>
          <div class="well">
            <div class="form-group">
              <label for="iptUserName" class="col-sm-2 control-label">管理员账号:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="iptUserName" name="host" value="{{ pageData.manager.username }}" placeholder="后台管理员账号">
              </div>
            </div>
            <div class="form-group">
              <label for="iptUserEmail" class="col-sm-2 control-label">管理员邮箱:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="iptUserEmail" name="username" value="{{ pageData.manager.email }}" placeholder="管理员邮箱">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
                <a class="btn btn-default" href="/influxdb">
                  <i class="glyphicon glyphicon-arrow-left"></i> 上一步
                </a>
                <button class="btn btn-primary" onclick="setup.other_config()">
                  下一步 <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
