{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <div class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">应用服务配置</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="iptManageBacken" class="col-sm-2 control-label">manage-backend:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="iptManageBackend" value="{{ data.manageBackend }}" placeholder="manage-backend">
            </div>
          </div>
          <div class="form-group">
            <label for="iptFrontBackend" class="col-sm-2 control-label">front-backend:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="iptFrontBackend" value="{{ data.frontBackend }}" placeholder="front-backend">
            </div>
          </div>
          <div class="form-group">
            <label for="iptIntegrationScanner" class="col-sm-2 control-label">integration-scanner:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="iptIntegrationScanner" value="{{ data.integrationScanner }}" placeholder="integration-scanner">
            </div>
          </div>
          <div class="form-group">
            <label for="iptWebsocket" class="col-sm-2 control-label">websocket:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="iptWebsocket" value="{{ data.websocket }}" placeholder="websocket">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-5">
                <button class="btn btn-danger" onclick="setup.service_create(true)">
                  创建应用服务
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

