<html>
    <head>
        {% if title %}
        <title>{{title}} - 观测云 Launcher</title>
        {% else %}
        <title>观测云 Launcher</title>
        {% endif %}

        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css" crossorigin="anonymous" />

        <link rel="stylesheet" href="/css/site.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="/vendor/iconfont/style.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/codemirror.css" crossorigin="anonymous" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

        <script src="/vendor/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="/vendor/jquery.validate/jquery.validate.min.js" crossorigin="anonymous"></script>
        <script src="/vendor/jquery.validate/messages_zh.min.js" crossorigin="anonymous"></script>
        <script src="/vendor/js-yaml.min.js" crossorigin="anonymous"></script>
        <script src="/vendor/codemirror.js" crossorigin="anonymous"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
          <div class="container-fluid">
            <div class="dropdown pull-right">
              <a data-toggle="dropdown" style="text-decoration:none;" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
                <i class="glyphicon glyphicon-cog"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('mysql', 'MySQL 配置信息')">MySQL</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('redis', 'Redis 配置信息')">Redis</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('elasticsearch', 'Elasticsearch 配置信息')">Elasticsearch</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('influxdb', '时序存储引擎 配置信息')">时序存储引擎</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('domain', '域名配置信息')">域名</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('registry', 'Registry Key')">Registry Key</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.open_setting('other', '其他配置信息')">其他</a>
                </li>
                <!-- <li class="divider"></li> -->
                <!-- <li> -->
                <!--   <a href="javascript:void(0);" onclick="setup.open_setting('deploy_replicas', '服务副本数配置')">服务副本数配置</a> -->
                <!-- </li> -->
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.tls_change_model()">域名 TLS 证书更新</a>
                </li>
                <li>
                  <a href="/setting/configmap">修改应用配置</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.sync_integration()">立即同步官方视图模板包</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.sync_pipeline()">立即同步官方 Pipeline 脚本库</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.sync_field_list()">立即同步官方字段库</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/install/external-dataway">安装数据网关</a>
                </li>
                <li>
                  <a href="javascript:void(0);" onclick="setup.activate_license()">License 激活及 AK/SK 配置</a>
                </li>

              </ul>
            </div>

            <a href="/check" style="color:#333;">
              <img src="/images/launcher.png"/>&nbsp;观测云 Launcher
            </a>
          </div>
        </header>
        <div class="container-fluid">
          <div class="page-main pull-left">
          {% block content %}{% endblock %}
          </div>
          <div class="page-nav">
            <ul class="step-list">
              {% for step in steps %}
                {% if step.status == 'prev' %}
                <li class="step-prev">
                  <i class="step-idx icon-select"></i>
                {% elif step.status == 'current' %}
                <li class="step-current">
                  <i class="step-idx">{{ loop.index }}</i>
                {% else%}
                <li class="step-next">
                  <i class="step-idx">{{ loop.index }}</i>
                {% endif%}
                  {{ step.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <footer class="text-center">
            ©2013-{{ __common__.year }} 上海观测未来信息技术有限公司
        </footer>

        <!-- 配置信息 Large modal -->
        <div id="settingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="settingModalLabel">Modal title</h4>
              </div>
              <div class="modal-body" style="padding: 0; height: 500px;">
                <textarea id="settingTextarea" class="form-control" style="width: 100%; height: 500px;"></textarea>
              </div>
              <div class="modal-footer">
                <span id="spanYAMLError" class="text-danger">YAML 语法格式不正确！</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="settingModalButtonOK" type="button" onclick="setup.save_setting()" class="btn btn-primary">保存修改</button>
              </div>
            </div>

          </div>
        </div>

        <!-- TLS 证书更换 Large modal -->
        <div id="TLSModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">域名 TLS 证书更新</h4>
              </div>
              <div class="modal-body" style="height: 500px;">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="iptCertificatePrivateKey" class="control-label">私钥:</label>
                      <textarea id="iptCertificatePrivateKey" class="form-control" style="height: 450px; resize: none;" required placeholder="输入私钥，以-----BEGIN RSA PRIVATE KEY-----开头"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="iptCertificateContent" class="control-label">证书:</label>
                      <textarea id="iptCertificateContent" class="form-control" style="height: 450px; resize: none;" required placeholder="输入证书，以-----BEGIN CERTIFICATE-----开头"></textarea>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnTLSModalButtonOK" type="button" onclick="setup.do_tls_change()" class="btn btn-primary">更新 TLS 证书</button>
              </div>
            </div>

          </div>
        </div>

        <!-- License 激活与 AK 配置 Large modal -->
        <div id="licenseModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">观测云激活</h4>
              </div>
              <div class="modal-body" style="padding: 0;height: 500px;">

                <div class="modal-high-block">
                  <h4>License 信息：</h4>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">1、扫码申请 License:</label>
                        <img src="/images/guance.jpeg" style="width: 150px; height: 150px;">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <label for="iptLicense" class="control-label">2、License 文本:</label>
                        <textarea id="iptLicense" class="form-control" style="height: 150px; resize: none;" required placeholder="请输入 License 文本"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-high-block">
                  <h4>费用中心会员、拨测 AK/SK 信息：</h4>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="iptGuanceAK" class="control-label">AK:</label>
                        <input type="text" class="form-control" id="iptGuanceAK" name="guanceAK" required placeholder="Access Key">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="iptGuanceSK" class="control-label">SK:</label>
                        <input type="text" class="form-control" id="iptGuanceSK" name="guanceSK" required placeholder="Secret Key">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="chkPrivateDialtesting" class="control-label">拨测服务地址:</label>
                        <p id="dialServiceDomain" class="form-control-static">https://dflux-dial.guance.com</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="iptDialDataWay" class="control-label">数据网关地址（需要能接受来自拨测服务的请求）:</label>
                        <input type="text" class="form-control" id="iptDialDataWay" name="dialDataWay" required placeholder="示例: http(s)://dataway.dataflux.cn?token={}">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="activateModalButtonOK" type="button" onclick="setup.do_activate()" class="btn btn-primary">激活</button>
              </div>
            </div>

          </div>
        </div>
          </div>
        </div>

        <script src="/js/app.js" crossorigin="anonymous"></script>
        <script src="/js/validation.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $().ready(function(){
                $.validator.setDefaults({
                  debug: false,
                  success: "valid",
                  errorPlacement: function(error, element) {
                    error.appendTo(element.parent().next('div.error'));
                  }
                });
            });
        </script>
    </body>
</html>
