{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <form class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="form-group">
          <label class="col-sm-2 control-label">Kubernetes 集群:</label>
          <div class="col-sm-10">
            {% if not pageData.check.clusterInfo %}
            <p class="form-control-static text-danger">Kubectl 客户端未安装或未配置，或者 Kubernetes 集群配置不正确!</p>
            {% endif %}

            {% for line in pageData.check.clusterInfo %}
            <p class="form-control-static text-success">{{ line }}</p>
            {% endfor %}
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label">共享存储:</label>
          <div class="col-sm-10">
            {% if not pageData.check.storage %}
            <p class="form-control-static text-danger">Kubernetes 集群中未配置共享存储，请先配置存储。</p>
            {% else %}
            <p class="form-control-static text-success"><strong>{{ pageData.check.storage }}</strong></p>
            {% endif %}
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label">已有应用:</label>
          <div class="col-sm-10">
          {% if pageData.deploy | length == 0 %}
            <div class="form-group">
              <div class="col-sm-12">
                <p class="form-control-static">无</p>
              </div>
            </div>
          {% endif %}
          {% for ns in pageData.deploy %}
            <div class="high-block">
              <h5>命名空间：{{ ns.namespace }}</h5>
              <div class="form-group">
                <div class="col-sm-12 service-status">

                  {% for item in ns.services %}
                    {% if item.fullImagePath %}
                    <span>
                      {% if item.replicas == 0 or item.replicas > item.availableReplicas %}
                      <i class="service-pendding"></i>
                      {% elif item.replicas > 0 or item.replicas == item.availableReplicas %}
                      <i class="icon-success"></i>
                      {% endif %}
                    </span>
                    <span>{{ item.name }}</span>&nbsp;&nbsp;
                    {% endif %}
                  {%endfor%}

                </div>
              </div>

            </div>
          {% endfor %}
          </div>
      </div>

      {# <div class="form-group"> #}
      {#     <label class="col-sm-2">&nbsp;</label> #}
      {#     <div class="col-sm-10"> #}
      {#       <p class="form-control-static text-warning"> #}
      {#         <strong> #}
      {#         请检查以上 <span class="text-danger">红色</span> 字体部分，确认后继续！ #}
      {#         </strong> #}
      {#       </p> #}
      {#     </div> #}
      {# </div> #}


      <div class="form-group">
          <label class="col-sm-2">&nbsp;</label>
          <div class="col-sm-10">
            {% if pageData.deploy | length > 0 %}
              {% if not pageData.check.clusterInfo or not pageData.check.storage %}
                <a class="btn btn-primary" disabled="">升级安装</a>
              {% else %}
                <a class="btn btn-primary" href="/up/newconfigmap">升级安装</a>
              {% endif %}
            {% else %}
              {% if not pageData.check.clusterInfo or not pageData.check.storage %}
                <a class="btn btn-primary" disabled="">全新安装</a>
              {% else %}
                <a class="btn btn-primary" href="/install/database">全新安装</a>
              {% endif %}
            {% endif %}
          </div>
      </div>
    </form>
</div>

{% endblock %}
