{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <form id="validateForm" class="form-horizontal" onsubmit="return false;">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="high-block influxdb-list">
        <div class="form-group">
          <label for="iptDBHost" class="col-sm-2 control-label">MySQL Host:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptDBHost" name="iptDBHost" required value="{{ pageData.base and pageData.base.host }}" placeholder="数据库实例地址">
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptDBPort" class="col-sm-2 control-label">端口:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptDBPort" name="iptDBPort" required value="{{ pageData.base and pageData.base.port }}" placeholder="数据库实例端口">
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptDBUserName" class="col-sm-2 control-label">管理员账号:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptDBUserName" name="iptDBUserName" required value="{{ pageData.base and pageData.base.user }}" placeholder="数据库实例管理员账号">
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptDBUserPwd" class="col-sm-2 control-label">管理员密码:</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="iptDBUserPwd" name="iptDBUserPwd" required value="{{ pageData.base and pageData.base.password }}" placeholder="数据库实例管理员密码">
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptDBUserPwd" class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-10">
            <p class="form-control-static text-danger hide">数据库实例中已存在 <span id="spanExistsDB"></span> 数据库，不能继续安装，<br />请先删除数据库，以及同名账号，再继续安装。</p>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-3">
              <button class="btn btn-primary" onclick="setup.database_ping(true)">
                下一步
              </button>
          </div>
          <div class="col-sm-2 text-right">
              <a id="btnConnectTtest" class="btn btn-warning" onclick="setup.database_ping(false)">
                <i class="glyphicon glyphicon-question-sign"></i> 测试连接
              </a>
          </div>
        </div>
      </div>
    </form>
</div>

<div class="row form-body">
  <div class="alert alert-info" role="alert">如果您没有可用的数据库，请选择存储后端一键安装POC版本MySQL</div>
  <div class="form-group high-block">
    <div class="col-sm-2 col-sm-offset-2">
      <input id="mysql_password" type="password" class="form-control" required placeholder="请设定root密码">
    </div>
    <div class="input-group col-sm-2">  
      <select id="storage_class" class="form-control">
      {% for class in storageClasses %}
        <option value="{{ class }}">{{ class }}</option>
      {% endfor %}
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="setup.mysql_install()">
          一键安装
        </button>
      </span>
    </div>
  </div>
</div>

{% endblock %}
