{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <div class="col-12">
    <div class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="form-group">
        <div class="col-sm-8">
            {{ pageData | safe }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" onclick="setup.setting_init()">开始配置</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
