{% extends "base.html" %}

{% block content %}

<div class="row form-body">
  <div class="col-12">
    <div class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="form-group">
        <div class="col-sm-11">
            <!-- {{ pageData | safe }} -->
            <div style="height: 500px; overflow: auto; border: 1px solid #aaa; border-radius: 5px; background-color: #eee; padding: 10px;">
              <br /> 
              欢迎您使用【云时代的系统可观测平台】！<br /> 
              <br /> 
              云时代的系统可观测平台最终用户使用协议（下称“本协议”）是您（下称“用户”）和上海驻云信息科技有限公司（下称“服务商”）之间，就服务商为您提供云时代的系统可观测平台（下称“本软件/服务”），所达成的合法协议。<br /> 
              <br /> 
              一、协议的生效<br /> 
              1、用户确认而生效：本协议由服务商提供电子版本，用户安装本软件/服务时，应认真阅读本协议（特别是以粗体及/或下划线标注的内容）后，须保持本协议为勾选状态，方可进入下一步安装流程。本协议一经用户确认，即具有合同效力，对服务商和用户具有法律约束力。<br /> 
              2、用户使用而生效：用户可以通过在线访问，或其他方式使用本软件/服务。服务商会在相应环节提供本协议的在线版本供用户阅读。一旦用户使用本软件/服务，即表示用户已同意接受本协议中的所有条款。<br /> 
              <br /> 
              二、定义<br /> 
              【“DataFlux”及“DataFlux实时大数据分析平台”】是指由上海驻云信息科技有限公司开发并拥有完整著作权的成品计算机软件。<br /> 
               <br /> 
              三、使用许可<br /> 
              1、本软件/服务受《计算机软件保护条例》、《中华人民共和国著作权法》等著作权法、国际版权条约以及其他相关的知识产权法律、法规和条约的保护。本软件产品/服务为授权用户使用许可，而非出售。<br /> 
              2、本协议涉及软件/服务的源代码、目标代码以及技术文档的所有权及全部知识产权（包括但不限于专利权及其申请权、商标权及其申请权、著作权、专有技术所有权及使用权等）归服务商（上海驻云信息科技有限公司）所有。在服务期限内，服务商及其关联公司新发明或发现的应用场景、算法、模型、概念等知识产权及所有权归属服务商或其关联公司。<br /> 
              3、根据本协议的约定：<br /> 
              （1）服务商同意授权，用户同意接受一个非排他的、不可转让的、有期限的（授权期限以订单为准）使用许可，准许用户使用该许可软件，上述许可使用仅限于用户内部使用和为其子公司提供信息服务，用户不得转售或以其他方式转让本使用许可权利以牟取商业利益；<br /> 
              （2）除上述规定外，任何第三方无权使用该许可软件或其中任何一项功能；<br /> 
              （3）上述限制适用于将本协议下许可软件作为其中一部分的任何软件系统。<br /> 
              <br /> 
              四、费用： <br /> 
              1、用户使用本软件/服务须按照本软件/服务的价格体系、支付所有费用。服务商保留在用户未按照约定支付全部费用之前不向用户提供服务和/或技术支持，或者终止服务和/或技术支持的权利。<br /> 
              2、用户如对本软件/服务进行续费时，本软件/服务的名称、规格或价格已经调整的，用户同意按照届时有效的新的软件/服务的名称、规格或价格履行；用户不同意新的软件/服务的名称、规格或价格的，可不进行续费，本软件/服务到期后自动终止。<br /> 
                <br /> 
              五、用户的权利义务<br /> 
              1、用户有权要求服务商按照协议约定提供服务，并保守用户的商业秘密。<br /> 
              2、用户保证其使用本软件/服务的各项行为均符合国家法律法规的规定，合法真实且不侵害任何第三方的合法权益。<br /> 
              3、用户应按时足额支付本软件/服务的费用，否则服务商保留随时终止用户使用本软件/服务的权利，用户应对服务商终止本软件/服务而可能造成的损害自行承担全部责任。<br /> 
              4、用户有义务保守服务商的商业秘密，包括但不限于：知识产权、价格、信息技术、市场策略等相关商业机密，且不得透漏给第三方。<br /> 
              5、用户保证：<br /> 
              （1）不对服务商提供的软件进行任何的修改，任何因用户修改软件所导致的软件不能正常运行，服务商对此不承担责任并不提供技术服务；<br /> 
              （2）不对服务商提供的软件进行泄露、解剖、改编、汇编与反汇编，不得逆向工程、反编译或试图以其他不正当方式获取服务商提供的软件的源代码，用户出现本条所述行为，服务商有权停止用户账户的使用；<br /> 
              （3）未经服务商事先书面许可，用户不得以任何形式进行使用或创造任何衍生产品。<br /> 
              6、用户理解并同意，因现有技术限制，服务商提供的软件/服务可能存在瑕疵，并不能保证在任何情况下都能正常执行或达到用户所期望的结果。<br /> 
              <span style="font-weight: bold;">
              7、因用户使用本软件/服务所致的任何损害，用户同意服务商的最高赔偿限额为【本软件/服务期限内用户支付所有费用的20%】。</span><br /> 
              <br /> 
              六、服务商的权利义务<br /> 
              1、服务商保证，其有合法权利向用户提供本软件/服务的使用许可，并保证其著作权的合法性。<br /> 
              2、服务商拥有本协议下软件产品的完整知识产权，不存在权利瑕疵，其向用户提供本软件/服务的行为未侵犯任何第三方含知识产权在内的合法权益，服务商违反上述承诺给用户造成实际损失的，应按照法律及协议约定承担赔偿责任。<br /> 
              3、服务商有义务保守用户的商业秘密，包括但不限于：知识产权、价格、信息技术、市场策略等相关商业机密，且不得透漏给第三方。<br /> 
              4、本协议服务期内，服务商负责及时对本软件/服务进行升级、维护和管理，并通过客服电话、在线客服等方式，向用户提供免费的咨询及技术支持服务。<br /> 
              5、服务商承诺，其向用户提供的软件/服务中不含有：<br /> 
              （1）蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序；<br /> 
              （2）任何已知的漏洞、后门、恶意软件；<br /> 
              <span style="font-weight: bold;">
              6、责任限制：<br /> 
              （1）服务商不承担由于第三方（如电信运营商、硬件提供商）造成的用户暂时不能或部分不能使用本软件/服务的责任；<br /> 
              （2）除法律强制性规定外，服务商不对因使用或不能使用本软件/服务所引起的【间接的、不可预见的】损害（包括但不限于因人身伤害或财产损坏而造成的损害，因利润损失、数据损失、营业中断、计算机瘫痪或故障、商业信息的遗失而造成的损害）承担赔偿责任，即使服务商事先被告知该损害发生的可能性。<br /> 
              </span>
              <br /> 
              七、用户数据的使用和披露<br /> 
              未经用户许可，服务商不会擅自披露用户数据。但在下述情况下，用户数据将部分或全部被披露：<br /> 
              （1）经用户同意，向第三方披露；<br /> 
              （2）根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br /> 
              （3）如果用户出现违反中国有关法律法规的情况，需要向第三方披露；<br /> 
              （4）为提供用户所要求的软件或服务，而必须和第三方分享用户数据。<br /> 
              <br /> 
              八、期限与终止<br /> 
              1、本软件/服务的期限以用户在阿里云市场提交订单并完成购买的实际期限为准。<br /> 
              2、本协议下软件授权使用许可期限终止后，用户未通过续购等合法方式取得授权使用许可的，不得继续使用相应软件/服务。<br /> 
              3、出现下列情况之一的，服务商有权终止继续提供本软件/服务，而无需承担任何责任：<br /> 
              （1）用户购买的软件/服务已到期且未续费的；<br /> 
              （2）用户严重违反本协议项下条款的约定，且自服务商通知其纠正后仍未纠正的；<br /> 
              （3）本协议条款约定的其他情形。<br /> 
              <br /> 
              九、争议解决<br /> 
              1、本协议所产生的争议，适用中华人民共和国法律。<br /> 
              2、因执行本协议所发生的和本协议有关的一切争议，双方应首先友好协商解决。如果经协商不能达成一致，任一方均可向被告方所在地人民法院起诉。<br /> 
              <br /> 
              十、不可抗力<br /> 
              1、不可抗力必须是指一方不可控制的、不可预见的、不可克服的事件，包括但不限于：自然灾害：地震、洪水、火灾等；战争或准战争状态、恐怖活动、戒严、骚乱、大规模爆发的流行性传染病等。<br /> 
              2、协议生效后，由上述不可抗力因素造成的一方义务履行延误，则此类延误将被视为不可抗力，受不可抗力影响一方不承担违约责任，但必须及时通知另一方。<br /> 
              3、如不可抗力事故连续60天以上时，双方应通过友好协商解决本协议履行的问题。<br /> 
              <br /> 
              十一、其他<br /> 
              1、若本协议中任何条款因任何原因而被认定无效，此种无效条款并不影响其他条款的有效性，且此种无效条款应自始视为不存在。<br /> 
              2、任何一方未能或延迟行使其在本项下的权利，不能解释为对该权利的放弃。<br /> 
              3、本协议附件（如有）为本协议不可分割之部分，具有同等法律效力。<br /> 
              4、本协议为电子版本，用户同意操作并完成本协议勾选的人员为其合法授权代表，本协议勾选完成后生效，对服务商和用户具有法律约束力。<br /> 
              5、服务商可根据其自身运营状况，在提前【10】个工作日通知用户的前提下，将其在本协议项下的权利义务全部转让给第三方，而无需获得用户的事先同意，服务商之受让人受本协议约束。
            </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary" onclick="setup.setting_init()">同意协议并开始安装</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
