{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <form id="validateForm" class="form-horizontal" onsubmit="return false;">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="high-block influxdb-list">
        <div class="form-group">
          <label for="iptHost" class="col-sm-2 control-label">Redis 地址:</label>
          <div class="col-sm-5">
            <!-- 172.16.0.20 -->
            <input type="text" class="form-control" id="iptRedisHost" name="iptRedisHost" required value="{{ pageData.host }}" placeholder="Redis 地址">
            <!-- <label class="checkbox-inline">
              {% if pageData.ssl %}
              <input type="checkbox" id="ckbRedisSSL" checked="checked"> SSL
              {% else %}
              <input type="checkbox" id="ckbRedisSSL"> SSL
              {% endif %}
            </label> -->
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptRedisPort" class="col-sm-2 control-label">端口:</label>
          <div class="col-sm-5">
            <!-- 10391 -->
            <input type="text" class="form-control" id="iptRedisPort" name="iptRedisPort" required value="{{ pageData.port }}" placeholder="端口">
          </div>
          <div class="col-sm-5 error"></div>
        </div>
        <div class="form-group">
          <label for="iptRedisPassword" class="col-sm-2 control-label">密码:</label>
          <div class="col-sm-5">
            <!-- Fd6cQ4cvd8 -->
            <input type="password" class="form-control" id="iptRedisPassword" name="iptRedisPassword" required value="{{ pageData.password }}" placeholder="密码">
          </div>
          <div class="col-sm-5 error"></div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-3">
              <button class="btn btn-primary" onclick="setup.redis_ping(true)">
                下一步
              </button>
              <a class="btn btn-default" href="/install/database">上一步</a>
          </div>
          <div class="col-sm-2 text-right">
              <button id="btnConnectTtest" class="btn btn-warning" onclick="setup.redis_ping(false)">
                <i class="glyphicon glyphicon-question-sign"></i> 测试连接
              </button>
          </div>
        </div>
      </div>
    </form>
</div>

<div class="row form-body">
  <div class="form-group high-block">
    <div class="input-group col-sm-5 col-sm-offset-2">  
      <div class="alert alert-info" role="alert">如果您没有可用的 Redis，请选择存储后端一键安装 POC 版本 Redis（<span class="text-danger">仅限 POC 场景一键部署，不适用生产环境</span>）</div>
    </div>

    <div class="input-group col-sm-5 col-sm-offset-2">
      <div class="col-sm-4">
        <input id="redis_password" type="password" class="form-control" required placeholder="请设定redis密码">
      </div>
      <div class="input-group col-sm-8">  
        <select id="storage_class" class="form-control">
        {% for class in storageClasses %}
          <option value="{{ class }}">{{ class }}</option>
        {% endfor %}
        </select>
        <span class="input-group-btn">
          <button class="btn btn-info" onclick="setup.redis_install()">
            一键安装
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
