{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <div class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>
      <div class="high-block">
        <div class="form-group">
          <label for="iptImageRegistry" class="col-sm-2 control-label">镜像仓库地址:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptImageRegistry" disabled="disabled" value="{{ pageData.imageRegistry }}" placeholder="镜像仓库地址">
          </div>
        </div>
        <div class="form-group">
          <label for="iptImageDir" class="col-sm-2 control-label">镜像版本目录:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptImageDir" disabled="disabled" value="{{ pageData.imageDir }}" placeholder="镜像版本目录">
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="iptImageRegistryUser" class="col-sm-2 control-label">账号:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="iptImageRegistryUser" disabled="disabled" value="{{ pageData.imageRegistryUser }}" placeholder="镜像仓库账号">
          </div>
        </div>
        <div class="form-group">
          <label for="iptImageRegistryPwd" class="col-sm-2 control-label">密码:</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="iptImageRegistryPwd" disabled="disabled" value="{{ pageData.imageRegistryPwd }}" placeholder="镜像仓库密码">
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-sm-2 control-label">镜像拉取策略:</label>
          <div class="col-sm-5">
            <select id="sltImagePullPolicy" class="form-control">
              <option value="IfNotPresent" {{ "selected" if pageData.imagePullPolicy == "IfNotPresent" }} >IfNotPresent</option>
              <option value="Always" {{ "selected" if pageData.imagePullPolicy == "Always" }} >Always</option>
              <option value="Never" {{ "selected" if pageData.imagePullPolicy == "Never" }} >Never</option>
            </select>
          </div>
        </div>
      </div>
      <div class="high-block">
        <div class="form-group">
          <label class="col-sm-2 control-label">共享存储:</label>
          <div class="col-sm-5">
            <select id="sltStorageClassName" class="form-control">
              {% for item in pageData.storageNames %}
              <option value="{{ item }}" {{ "selected" if pageData.storageClassName == item }} >{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">七层负载:</label>
          <div class="col-sm-5">
            <select id="sltIngressClassName" class="form-control">
              {% for item in pageData.ingressClasses %}
              <option value="{{ item }}" {{ "selected" if pageData.storageClassName == item }} >{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      {% for item in pageData.images %}
      <div class="high-block">
        <h5>命名空间：{{ item.namespace }}</h5>
        {% for svc in item.services %}
        {% if svc.replicas > 0 %}
        <div class="form-group app-image">
          <label for="ipt{{ svc.key }}" class="col-sm-2 control-label">{{ svc.name or svc.key }}:</label>
          <div class="col-sm-5">
            <input id="ipt{{ svc.key }}" type="text" class="form-control" disabled="disabled" data-key="{{ svc.key }}" value="{{ svc.imagePath }}" placeholder="{{ svc.key }}">
            <input id="hid{{ svc.key }}" type="hidden" data-key="{{ svc.key }}" value="{{ svc.replicas }}">
          </div>
        </div>
        {% endif %}
        {%endfor%}
      </div>
      {%endfor%}  

      <div class="form-group">
        <label class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-5">
            <button id="btnServiceCreate" class="btn btn-danger" onclick="setup.service_create(true)">
              创建应用服务
            </button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

