{% extends "base.html" %}

{% block content %}

<div class="row form-body">
    <div class="form-horizontal">
      <h2 class="page-heading">{{ title }}</h2>

          <div class="high-block well-manager">
            <h4>系统主域名</h4>
            <div class="form-group">
              <label for="iptUserName" class="col-sm-2 control-label">主域名:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.other.domain }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptUserName" class="col-sm-2 control-label">各子域名:</label>
              <div class="col-sm-5">
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.console }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.consoleApi }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.management }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.managementApi }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.websocket }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.function }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.kodo }}</strong>.{{ pageData.other.domain }}</p>
                <p class="form-control-static"><strong class="">{{'deploy-' if __common__.debug}}{{ pageData.other.subDomain.integration }}</strong>.{{ pageData.other.domain }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptUserName" class="col-sm-2 control-label">&nbsp;</label>
              <div class="col-sm-5">
                <p class="form-control-static text-danger"><strong>以上为默认生成的子域名，可在后续配置文件中修改替换！</strong></p>
              </div>
            </div>

          </div>

          <div class="high-block well-mysql">
            <h4>MySQL 信息</h4>
            <div class="form-group">
              <label for="iptDBHost" class="col-sm-2 control-label">MySQL Host:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.mysql.host }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptDBPort" class="col-sm-2 control-label">端口:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.mysql.port }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptDBUserName" class="col-sm-2 control-label">管理员账号:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.mysql.user }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptDBUserPwd" class="col-sm-2 control-label">管理员密码:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.mysql.password }}</p>
              </div>
            </div>
          </div>

          <div class="high-block well-redis">
            <h4>Redis 信息</h4>
            <div class="form-group">
              <label for="iptHost" class="col-sm-2 control-label">Redis Host:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.redis.host }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptRedisPort" class="col-sm-2 control-label">端口:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.redis.port }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptRedisPassword" class="col-sm-2 control-label">密码:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ pageData.redis.password }}</p>
              </div>
            </div>
          </div>

          {% for idb in pageData.influxdb %}
          <div class="high-block well-influxdb">
            <h4>InfluxDB 信息</h4>
            <div class="form-group">
              <label for="iptInfluxDBHost{{ loop.index }}" class="col-sm-2 control-label">InfluxDB Host:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.host}}&nbsp;
                  {% if idb.ssl %}
                  <input type="checkbox" disabled="disabled" checked="checked"> SSL
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptInfluxDBPort{{ loop.index }}" class="col-sm-2 control-label">端口:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.port}}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptInfluxDBUserName{{ loop.index }}" class="col-sm-2 control-label">管理员账号:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.username}}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptInfluxDBPassword{{ loop.index }}" class="col-sm-2 control-label">管理员密码:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.password}}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptInfluxDBName{{ loop.index }}" class="col-sm-2 control-label">数据库名:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.dbName}}</p>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="iptInfluxDBName{{ loop.index }}" class="col-sm-2 control-label">Kapacitor 地址:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{idb.kapacitorHost}}</p>
              </div>
            </div> -->
          </div>
          {% endfor %}

          <div class="high-block well-manager">
            <h4>后台管理员</h4>
            <div class="form-group">
              <label for="iptUserName" class="col-sm-2 control-label">管理员账号:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ (pageData.other.manager or {}).username }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="iptUserEmail" class="col-sm-2 control-label">管理员邮箱:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ (pageData.other.manager or {}).email }}</p>
              </div>
            </div>
          </div>


        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-3">
              <a class="btn btn-default" href="/other">上一步</a>
              <button id="btnDoSetup" class="btn btn-danger" onclick="setup.do_setup()">
                初始化数据，并生成配置!
              </button>
          </div>
        </div>

      </div>
</div>

{% endblock %}
